html, body {
		margin: 0;
}

.page {
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		text-align: center;
}

.cards {
		border: 2px solid red;
		flex: 1;
		text-align: center;
		min-height: 20rem;
		overflow-y: auto;
}

.card-box {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		margin: 0px 1rem;
}

.script-card {

}

.inout-card {

}

.help-card {

}
